/* Menu bar */

div.mtoolbar {
	margin-top: 10px;
	text-align: center;
}
div.mtoolbar div.menuitem {
	display: inline;
}
div.mtoolbar div.menuitem a:hover {   
	background: #8d3434;
/*	color: #666;*/
	border: 1px solid transparent;
	text-shadow: none;
}
div.mtoolbar div.menuitem.first a {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: none;
}
div.mtoolbar div.menuitem.last a {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.mtoolbar div.menuitem a {  
	display: inline;
/*	border: 1px solid #ccc;*/
	border: 1px solid #8d3434;
	padding: 5px;
	margin: 0px;
	margin-left: -1px;
	color: #eee;
	font-weight: thin;
	height: 30px;

	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8d3434), to(#8d3434), color-stop(.5,#bb463b));*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8d3434), to(#bb463b));
	text-shadow: #833 1px 1px 1px;
	
/*	background: #E71616;
	background: -moz-linear-gradient(-90deg, #FE878A, #E71616 50%, #800000 80%, 
	    #800000 85%, #b80304);
	background: -webkit-gradient(linear, 0 top, 0 bottom, from(#FE878A),
	    color-stop(50%, #E71616), color-stop(80%, #800000), 
	    color-stop(85%, #800000), to(#b80304) );
*/	

/*	-moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2);
	-webkit-box-shadow: 0 10px 10px hsla(0,0%,0%,.2);
	box-shadow: 0 10px 30px hsla(0,0%,0%,.2);*/
}

/* / Menu bar */


