Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header set Content-Security-Policy "default-src 'none'; form-action 'self'; frame-ancestors 'none'; object-src 'none'; script-src 'self'; style-src 'self'; font-src 'self'; connect-src 'self'; img-src 'self' data:; base-uri 'none'"
Header set X-Frame-Options "DENY"
Header set Referrer-Policy "same-origin"
Header set X-Content-Type-Options "nosniff"
