  </div>
  <div id="footer">
    Visit <a href="http://rnd.feide.no">rnd.feide.no</a>
  </div><!-- /#footer -->


  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-431110-21");
        pageTracker._trackPageview();
    } catch(err) {}
  </script>
