  <!-- Red logo header -->
  <div id="header">
    <div id="logo"><a href="{{ site.url }}" style="color: #fff; text-decoration: none">{{ site.title }}</a>
      <form style="float: right; margin-top: 7px; margin-right: 10px" method="get" action="https://www.google.com/cse">
        <input type="hidden" name="cx" value="004202914224971217557:8ks4jjstupq" />
        <input type="hidden" name="siteurl" value="www.google.com/cse/home?cx=004202914224971217557:8ks4jjstupq" />
        <input type="hidden" name="adkw" value="AELymgVJ6Sk-kOvUjbxvgShTLwiFlma2evFuVCh0r8q23vn_4eVnkcdnPfbgMvYUTpJpVlb-KkGAKkbn0i-AlWHsVRR9O0J4CNb6cXFkEKRdjXxsC_NlVD4" />
        <input type="search" name="q" placeholder="Search" value="" />
      </form>
    </div>
  </div>

  <!-- Grey header bar below -->
  <div id="headerbar" style="clear: both">
  <p id="breadcrumb"><a href="{{ site.url }}" >Home </a> >> {{ page.title }}</p><div class="mtoolbar"><div class="menuitem first"><a href="https://github.com/simplesamlphp/simplesamlphp/releases">Download</a></div><div class="menuitem"><a href="/docs">Documentation</a></div><div class="menuitem"><a href="/security">Security</a></div><div class="menuitem"><a href="/modules/">Modules</a></div><div class="menuitem"><a href="/translation/">Translation</a></div><div class="menuitem"><a href="/developers/">Developers</a></div><div class="menuitem"><a href="https://github.com/simplesamlphp/simplesamlphp/projects">Roadmap</a></div><div class="menuitem"><a href="/awards">Awards</a></div><div class="menuitem"><a href="/users/">Users</a></div><div class="menuitem"><a href="/lists/">Mailing lists</a></div><div class="menuitem last"><a href="/support/">Support</a></div></div><br style="clear: both; height: 0px; width: 0px" />
  <br style="height: 0px; clear: both" />
  </div><!-- /#headerbar -->

  <div id="content">