  <!-- Red logo header -->
  <header>
  <div id="header">
    <div class="right">
      <form class="searchbox" method="get" action="https://www.google.com/cse">
        <input type="hidden" name="cx" value="004202914224971217557:8ks4jjstupq">
        <input type="hidden" name="siteurl" value="www.google.com/cse/home?cx=004202914224971217557:8ks4jjstupq">
        <input type="hidden" name="adkw" value="AELymgVJ6Sk-kOvUjbxvgShTLwiFlma2evFuVCh0r8q23vn_4eVnkcdnPfbgMvYUTpJpVlb-KkGAKkbn0i-AlWHsVRR9O0J4CNb6cXFkEKRdjXxsC_NlVD4">
        <input type="search" name="q" placeholder="Search" value="">
      </form>
    </div>
    <div class="v-center logo-header">
      <div id="logo">
        <a href="{{ site.url }}">
          <span class="simple">Simple</span>
          <span class="saml">SAML</span>
          <span class="simple">php</span>
        </a>
      </div>
    </div>
    
  </div>

  <!-- Grey header bar below -->
  <nav>
  <div id="headerbar">
  <p id="breadcrumb"><a href="{{ site.url }}">Home</a> » {{ page.title }}</p>
    <div class="mtoolbar">
      <div class="menuitem first">
        <a href="/download">Download</a>
      </div>
      <div class="menuitem">
        <a href="/docs">Documentation</a>
      </div>
      <div class="menuitem">
        <a href="/security">Security</a>
      </div>
      <div class="menuitem">
        <a href="/modules/">Modules</a>
      </div>
      <div class="menuitem">
        <a href="/support/">Support</a>
      </div>
      <div class="menuitem last">
        <a href="/contrib/">Contribute</a>
      </div>
    </div>
    <br style="clear: both; height: 0px; width: 0px">
    <br style="height: 0px; clear: both">
  </div><!-- /#headerbar -->
  </nav>
  </header>

  <main>
